{% import 'appbuilder/general/lib.html' as lib %}

{% set active_cat_id = request.path.split('/') | last | int %}
{% if value_columns %}
    <div class="list-group">
    {% for item in value_columns %}
        {% set pk=pks[loop.index-1] %}
        {% for value in include_columns %}
            {% set path = url_for(modelview_name + '.list',pk=pk,next=request.path) %}
            {% set path = path | set_link_filters(filters) %}

            {% if active_cat_id == pk %}
                <a class="list-group-item" style="background: #ddfada" href="{{path}}">
            {% else %}
                <a class="list-group-item" href="{{path}}">
            {% endif %}

            {{ item[value] }}</a>
        {% endfor %}
    {% endfor %}
        {% set path = url_for('CategoryView.add') %}
        <a class="list-group-item" style="background: #ADD8E6" href="{{path}}">
            <i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i>
        </a>
    </div>
{% else %}
    <b> {{_("No records found")}}</b>
{% endif %}
