{% extends "appbuilder/general/widgets/show.html" %}
{% import 'appbuilder/general/lib.html' as lib %}

{% block actions %}
{% set current_url = request.full_path %}
{% set name_filter = request.args.get('_flt_item_name', '') %}
{% set name_filter_string = '_flt_item_name' %}
<div class="well well-sm">
    {{ lib.render_action_links(actions, pk, modelview_name) }}
    &nbsp;
    <input class="btn-sm" type="text" name="name_search" id="name_search" placeholder="Item Name"
           value="{{ name_filter }}">
    <a class="btn btn-sm btn-primary" id="search_button" type="submit" href="default"
       onclick="return SearchButton_click()" style="display: none;">
        <i class="fa fa-search"></i> Search Item
    </a>
    &nbsp;
    {{ lib.lnk_back() }}

    <script type="text/javascript">
        var search_field = document.getElementById('name_search');
        // Execute the enter key handler when a key is 'up'
        search_field.addEventListener("keyup", enterKey_handler);
        // Define a function to handle the 'Enter' key pressing
        function enterKey_handler(event){
            // Number 13 is the 'Enter' key on the keyboard
            if (event.keyCode == 13) {
                // Cancel the default action
                event.preventDefault();
                // Trigger the button element with a click
                document.getElementById("search_button").click();
            }
        };

        function SearchButton_click() {
            var search_field_value = document.getElementById('name_search').value;
            if (search_field_value.length == 0) {
                document.getElementById("search_button").href="{{ current_url|clear_filter(name_filter_string) }}";
            }
            else {
                var target_url = "{{ current_url|clear_filter(name_filter_string) }}"
                if (target_url.includes("?")) {
                    if (target_url.includes("=")) {
                        document.getElementById("search_button").href=target_url+"&{{ name_filter_string }}="+escape(search_field_value);
                    }
                    else {
                        document.getElementById("search_button").href=target_url+"{{ name_filter_string }}="+escape(search_field_value);
                    }
                }
                else {
                    document.getElementById("search_button").href=target_url+"?{{ name_filter_string }}="+escape(search_field_value);
                }
            }
        };
    </script>
</div>
{% endblock actions %}