{% import 'appbuilder/general/lib.html' as lib %}

{% macro lnk_add(my_href, pk) %}
    <a href="{{url_for(my_href, category_id=pk)}}" class="btn btn-sm btn-primary" data-toggle="tooltip" rel="tooltip"
       title="{{_('Add a new record')}}">
        <i class="fa fa-plus"></i>
    </a>
{% endmacro %}

{% macro render_list_header(can_add, page, page_size, count, filters, actions, modelview_name, pk) %}
    {{ lib.render_pagination(page, page_size, count, modelview_name) }}
    {{ lib.render_set_page_size(page, page_size, count, modelview_name) }}
    {% set endpoint = modelview_name + '.add_item' %}
    {{ lnk_add(endpoint, pk) }}
    {{ lib.render_actions(actions, modelview_name) }}
    {{ lib.lnk_back() }}
    <div class="pull-right">
        <strong>{{ _('Record Count') }}:</strong> {{ count }}
    </div>
{% endmacro %}


{% macro shopping_plan_related_list_widget(name, action_name, shopping_plan_id, item_list_columns, item_label, stock_items, category_filter, name_filter) %}
{# This macro will create the list for related items in shopping plan
    name: the name of the related item used to determine the panel, table and form
    action_name: the name of form action, for example remove or add
    shopping_plan_id: the id of shopping plan, which is usually the pk of show view
    item_list_columns: the column to show in the list
    item_label: the column label to show as title
    stock_items: the list of items showing in the list
    category_filter: the filter list
    name_filter: the filter of item name
#}
<div class="panel-group" id="{{ name }}Item">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#{{ name }}Item"
                   href="#{{ name }}Item_href" data-original-title title aria-expanded="true">
                    Shopping Plan: {{ name }} List
                </a>
                <span class="caret"></span>
            </h4>
        </div>
        <div id="{{ name }}Item_href" class="panel-collapse collapse in" aria-expanded="true" style>
            <div class="panel-body">
                <div class="well well-sm">
                    <button class="btn btn-sm btn-primary" onclick="{{ action_name }}Items({{ shopping_plan_id }});" type="submit"
                            form="{{ name }}_table" title="{{ action_name|capitalize }} Items">
                        {{ action_name|capitalize }} items
                    </button>
                    <div class="pull-right">
                        <strong>Record Count:</strong>
                        {{ stock_items|length }}
                    </div>
                </div>
                <form id="{{ name }}_table" method="POST">
                    <div class="table-responsive">
                        <input type="hidden" name="{{ name }}_buffer" id="{{ name }}_buffer" value="">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="action_checkboxes">
                                        <input id="check_all_items" class="action_check_all" type="checkbox"
                                               onclick="checkThemAll(this, '{{ name }}rowid' )">
                                    </th>
                                    {% for column in item_list_columns %}
                                    <th>{{ item_label[column] }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for stock_item in stock_items|equal_on_single_category(category_filter)|include_item_name(name_filter) %}
                                <tr>
                                    {% block item_actions scoped %}
                                    <td>
                                        <input id="{{ stock_item['id'] }}" class="action_check" name="{{ name }}rowid"
                                               value="{{ stock_item['id'] }}" type="checkbox">
                                    </td>
                                    {% endblock item_actions %}
                                    {% for column in item_list_columns %}
                                    <td>{{ stock_item[column] }}</td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endmacro %}