{% extends "appbuilder/general/model/left_master_detail.html" %}

{% block content %}
{% set current_url = request.path %}
<div class="col-lg-{{ master_div_width}} col-md-{{ master_div_width}} container">
    {{ lib.panel_begin(title) }}
   	        {{ widgets.get('list')()|safe }}
    {{ lib.panel_end() }}
</div>
{% for view in related_views %}
    <div class="col-lg-{{ 12 - master_div_width}} col-md-{{ 12 - master_div_width}} container">
        {{ lib.panel_begin(current_url|get_category_name +' List') }}
        <div>
            {{ widgets.get('related_views')[loop.index - 1](pk = pk)|safe }}
        </div>
        {{ lib.panel_end() }}
    </div>
{% endfor %}

{% endblock %}