{% extends "shopping_plan_show.html" %}
{% import "custom_lib.html" as c_lib %}

{% set categories_filter_string = request.args.get('_flt_category_name', '') %}
{% set active_category = categories_filter_string.split('|') %}
{% set name_filter = request.args.get('_flt_item_name', '') %}
{% set current_url = request.full_path %}

{% block category_filter scoped %}
<div class="well well-sm">
    <div class="container">
        {% for category in category_list %}
        {% set category_name = category['category_name'] %}
            {% if category_name in active_category %}
                <a type="button" class="btn btn-info"
                   href="{{ current_url|remove_filter('_flt_category_name', category_name) }}">
                    <i class="fa fa-times">  {{ category_name }}</i>
                </a>
            {% else %}
                <a type="submit" class="btn btn-outline-info"
                   href="{{ current_url|update_filter('_flt_category_name', category_name) }}">
                    <i class="fa fa-plus">  {{ category_name }}</i>
                </a>
            {% endif %}
        {% endfor %}
    </div>
    <script type="text/javascript">
        function addFilter(category_name) {
            alert(category_name);
            var new_filter = {{ categories_filter_string }};
            alert(new_filter);
        };

    </script>
</div>
{% endblock category_filter %}

{% block shopping_list_item scoped %}
    {{ c_lib.shopping_plan_related_list_widget('ShoppingList', 'remove', pk, item_list_columns, item_label, shopping_list, active_category[0], name_filter ) }}
{% endblock shopping_list_item %}

{% block inventory_item scoped %}
    {{ c_lib.shopping_plan_related_list_widget('Inventory', 'add', pk, item_list_columns, item_label, inventory_list, active_category[0], name_filter ) }}
{% endblock inventory_item %}

{% block script scoped %}
<script type="text/javascript">
    function removeItems(id) {
        checkboxes = document.getElementsByName('ShoppingListrowid');
        var item_list = [];
        for (i=0; i<checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                item_list.push(checkboxes[i].value);
            }
        }
        document.getElementById('ShoppingList_buffer').value = item_list;
        var target_endpoint = '/shoppingplanongoingview/remove_items/' + id;
        $('#ShoppingList_table').attr('action', target_endpoint);
    };

    function addItems(id) {
        checkboxes = document.getElementsByName('Inventoryrowid');
        var item_list = [];
        for (i=0; i<checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                item_list.push(checkboxes[i].value);
            }
        }
        document.getElementById('Inventory_buffer').value = item_list;
        var target_endpoint = '/shoppingplanongoingview/add_items/' + id;
        $('#Inventory_table').attr('action', target_endpoint);
    };

    function checkThemAll(source, elements_name) {
        checkboxes = document.getElementsByName(elements_name);
        for(var i=0, n=checkboxes.length; i<n; i++) {
            checkboxes[i].checked = source.checked;
        }
    };
</script>
{% endblock script %}
