{% extends "appbuilder/general/model/show_cascade.html" %}
{% import 'appbuilder/general/lib.html' as lib %}

{% block content %}

{{ lib.panel_begin(title) }}

{% block show_form %}
    {{ widgets.get('show')()|safe }}
{% endblock show_form %}

{% block category_filter scoped %}
{% endblock category_filter %}

{% block related_views %}
{% endblock related_views %}

{% block shopping_list_item scoped %}
<div class="panel-group" id="StockItemListView">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#StockItemListView"
                   href="#StockItemListView_href" data-original-title title aria-expanded="true">
                    Shopping Plan List
                </a>
                <span class="caret"></span>
            </h4>
        </div>
        <div id="StockItemListView_href" class="panel-collapse collapse in" aria-expanded="true" style>
            <div class="panel-body">
                <div class="well well-sm">
                    {% block section_fun_keys %}
                    <a href="/back" class="btn btn-sm btn-default" data-toggle="tooltip" rel="tooltip" title
                       data-original-title="Back">
                        <i class="fa fa-arrow-left"></i>
                    </a>
                    {% endblock section_fun_keys %}
                    <div class="pull-right">
                        <strong>Item Count:</strong>
                        {{ stock_items|length }}
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                {% block item_actions_title %}
                                {% endblock item_actions_title %}

                                {% for column in item_list_columns %}
                                <th>{{ item_label[column] }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for stock_item in stock_items %}
                            <tr>
                                {% block item_actions %}
                                {% endblock item_actions %}

                                {% for column in item_list_columns %}
                                <td>{{ stock_item[column] }}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock shopping_list_item %}

{% block inventory_item scoped %}
{% endblock inventory_item %}

{% block script scoped %}
{% endblock script %}

{{ lib.panel_end() }}

{% endblock %}

{% block add_tail_js %}
<script src="{{url_for('appbuilder.static',filename='js/ab_keep_tab.js')}}"></script>
{% endblock %}